################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/FRPCServer/v16
/FRPCServer/bin/Debug/netstandard2.0
/FRPCServer/obj
/FRPCServerAOPContainer/bin/Debug/netstandard2.0
/FRPCServerAOPContainer/obj
/FRPCServerCommandConsole/bin/Debug/netstandard2.0
/FRPCServerCommandConsole/obj
/MessageServer/bin/Debug
/MessageServer/obj/Debug
/packages
